:root{
    --azul: #e50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
    font-family:'Times New Roman', Times, serif;
    color: #fff;
  }
header .logo{
      color: var(--vermelho);
      font-family: 'Franklin Gothic Medium', Times;
      font-size: 40px;
      margin-left: 5px;
  }
  
header .container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 13px;
    height: 50px;
}
header .logo{
    font-size: 30px;
    margin-left: 10px;
}
.nav-menu{
    margin-left: 8%;
}
.nav-menu a{
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
    transition: .3s ease-in-out;
    padding-left: 30px;

   
}
.nav-menu a:hover{
    color: #fff;
    border-bottom: solid #e50914 1px;
    padding-bottom: 3px;
    
}
.nav-menu a i{
    margin-right: 10px;
}

/*principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.10),rgba(0,0,0,.50) 100%), url('../img/harry_back.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 1px 7px 25px -1px rgba(13,13,21,0.56);
}
.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
    width: 65%;
    background: linear-gradient(rgba(0,0,0,.10),rgba(0,0,0,.50) 100%);
    padding: 12px;
}
.filme-principal .titulo{
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn{
    background-color:rgba(0,0,0,.50) ;
    border: none;
    color: #fff;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    transition: .3s ease all;
}
.btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #141414;
 
}
.btn i{
    margin-right: 8px;
}
.container{
    margin-left: 10px;
}

/*opcoes*/
.btns{
    width: 250px;
    height: 150px;
    border-radius: 5px;
    box-shadow: #141414;
    background-color: #232531;
    margin: 12px;  
    box-shadow: 1px 7px 25px -1px rgba(13,13,21,0.56);
    color: #fff;
    font-size: 25px;
    transition: .2s;
    border: 3px solid #353743;
}

.btns:hover{
    background-color: #aaa;
    color: #141414;
}

.btns-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

.video{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 7px;
}